* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #001C55;
}

body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgb(0, 28, 85, 1.0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 4.0vw;
    font-weight: 500;
    font-stretch: 130%;
    line-height: normal;
    display: inline-block;
    padding: 38px;
}

.nav-links:hover {
    font-weight: 800;
}

.main-nav li {
    text-align: center;
    margin-top: -15px;
}

.logo {
    display: inline-block;
    padding: 17px 10px;
    font-size: 22px;
}

.navbar-toggle {
    position: absolute;
    top: 30px;
    right: 45px;
    cursor: pointer;
    color: #001C55;
    font-size: 24px;
}

.active {
    display: block;
}

#current {
    display: block;
    font-weight: 650;
}

.image {
    width: 100%;
    text-align: center;
    margin-top: -50px;
}

.subimage p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    width: 100%;
    float: left;
    padding-right: 40px;
    padding-left: 40px;
}

@media screen and (min-width: 1500px) {
    .nav-links {
        font-size: 0.95vw;
    }
    .image {
        width: 40%;
        float: left;
        margin-top: 0px;
    }
    .bio {
        width: 60%;
        float: left;
        padding-right: 120px;
        padding-left: 40px;
    }
    .subimage {
        float: right;
    }
}

@media screen and (min-width: 800px) {
    .image {
        width: 40%;
        float: left;
        margin-top: 0px;
    }
    .bio {
        width: 60%;
        float: left;
        padding-right: 120px;
        padding-left: 40px;
    }
    .subimage {
        float: right;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 0px;
        margin-right: 0px;
        padding: 17px 18px;
        font-size: 1.0vw;
    }
    .logo {
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .nav-links:hover {
        background-color: rgb(166, 225, 250);
    }
    .navbar {
        position: fixed;
        right: 10px;
        width: 95%;
    }
}

h1 {
    color: #001C55;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 85px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 100%;
    margin-left: -64px;
    margin-bottom: 3px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding-top: 20px;
    /* Location of the box */
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.close {
    color: #a6b8dd;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
}

.close:hover,
.close:focus {
    color: #001C55;
    text-decoration: none;
    cursor: pointer;
}
